<%#= form_with url: collections_path, method: :get, class: "d-flex" do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a collection"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>

<div data-controller="search">



<!-- A container for the entire page -->
  <div class="container page-container">
  <!-- A container for the title of the page -->
    <div class="header-container mb-5">
      <h1>Your thought collections</h1>
      <div class="search-bar align-self-center">
      <%= form_with url: collections_path, method: :get, html: {class: "d-flex justify-content-center", data: {search_target: "form"}} do |f| %>
          <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Search collections",
                      value: params[:query],
                      data: {search_target: "input",
                      action: "keyup->search#update"} %>
        <% end %>
      </div>
      <%= link_to 'Start a new collection', new_collection_path, class: 'button' %>
    </div>
    </div>
  <%= render "list" %>
</div>
