<%#= form_with url: collections_path, method: :get, class: "d-flex" do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a collection"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>

<div data-controller="search">
  <%= form_with url: collections_path, method: :get, html: {class:
    "mb-4", data: {search_target: "form"}} do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Search collections",
                     value: params[:query],
                     data: {search_target: "input",
                     action: "keyup->search#update"} %>
<% end %>

<h1>Your Collections:</h1>

<%= link_to "add a new collection", new_collection_path %>
<!--
  <div class="search-bar-container">
    <div class="search-input">
      Look for a collection of thoughts...
    </div>
    <button class="button">Search</button>
  </div>
-->
  <div>
    <!-- A container for all the collections -->
    <%= render "list" %>
  </div>
</div>
