<% if @collection.title %>
  <h1><%= @collection.title  %> Collection:</h1>
<% else %>
  <h1>Titless Collection</h1>
<% end %>

<%= link_to "edit collection", edit_collection_path(@collection) %>

<div id="tree-data"
  data-controller="tree-map"
  data-tree-map-data-value="<%= @stringified_data %>">
  </div>

  <div id="col-tree-map" style="text-align: center;" >
</div>
