// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-grey: #F2F2F2;
$dark-grey: #727272b3;
$white: #FFFFFF;
$black: #000000;
$border: #00000080;

$primary1: #F5F4F4;
$secondary1: #CAE4DB;
$beige: #CDAC81;
$navy: #00303F;

// $light: #E6E6E6;
// $card-colour: #F1E9D6;
// $dark: #555555;
// $accent: #DEC0F1;
// $accent2: #5899E2;

:export {
  light-grey: $light-grey;
  dark-grey: $dark-grey;
}
