.form-container {
  width: 500px;
}

.card {
  width: 60% !important;
  margin: 0 auto !important;
  border-radius: 20px !important;
}

// textarea {
//   border: none;
//   overflow: auto;
//   outline: none;

//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;

//   resize: none; /*remove the resize handle on the bottom right*/
//   background-color: inherit;
// }
