.collection-container {
  display: flex;
}

// .collection-line {
//   width: 76%;
//   margin: 24px auto;
//   border-top: 1px solid $black;
// }

.carousel {
  width: 460px;
  height: 200px;
}

.collections-wrapper {
  margin-top: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  // background-color: $dark-grey;
  // color: $black;
  // border-radius: 50%;
  width: 22px;
  height: 22px;
}

.small-thought-card-collection {
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
