.new-page-container {
  padding-top: 34px;
  display: flex;
  justify-content: space-around;
}

.left-side {
  width: 805px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}

.cancel-btn {
  margin-right: 24px;
}

.right-side {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.link-thoughts-title-container {
  align-self: center;
}

.form-card-main {
  position: sticky;
  left: 120px;
  top: 112px;
  width: 805px;
  height: 417px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.04));
}

.form-card-title {
  text-align: center;
  padding: 26px 0;
  border: none;
  background-color: #f2f2f2;
  margin: 0;
  color: $black;
  font-size: 38px;
  font-style: bold;
  line-height: 44px;
  border-radius: 20px;
}

.form-card-text {
  background-color: #f2f2f2;
  border: none;
  padding-left: 7.45%;
  padding-right: 7.45%;
  padding-top: 26px;
  font-size: 28px;
  color: $black;
  border-radius: 20px;
}

*:focus {
  outline: none;
}
