<footer class="footer">
    <p class="footer-para">Made with <span class="footer-heart">♥</span> by <a href="https://github.com/LucasNseyep/howling-moon" title="Howling Moon" class="footer-link">Howling Moon</a></p>
</footer>
