<div class="container-home">

  <div class="section1">
    <h1 class="Homeheader">Connects all of your thoughts, </h1>
    <h1 class="homeheader">No matter the shape or form</h1>

    <button type="button" class="btn btn-outline-primary">Go to notes</button>

    <div class="ellipses-container">
      <h2 class="greeting">Howling Moon</h2>
      <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
      </div>
      <div class="ellipses ellipses__outer--thick"></div>
    </div>
    <p class="homecloser"> Say goodbye to scattered notes and fragmented ideas</p>
  </div>

  <div class="section2">
  </div>
</div>
