<div class="container-home">

  <div class="section1">
    <h1 class="Homeheader">Connects all of your thoughts, </h1>
    <h1 class="homeheader">No matter the shape or form</h1>

    <button type="button" class="btn btn-outline-primary">Go to notes</button>

    <div class="ellipses-container">
      <h2 class="greeting">Howling Moon</h2>
      <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
      </div>
      <div class="ellipses ellipses__outer--thick"></div>
    </div>
    <p class="homecloser"> Say goodbye to scattered notes and fragmented ideas</p>
  </div>

  <div class="section2">
    <div class="leftpc">
      <%= image_tag "howling moon linked cards.png" %>
    </div>

  <h2 class="section2-header">Whether it's notes, figures, or images,
 the app uses cutting-edge technology to extract and organize your ideas into a streamlined, user-friendly format.</h2>
  </div>
</div>