<div class="container-home">

  <section class="section1">
    <div class="hometitle">
       <div class="logo-title-container">
          <h1 class="maintitle">Howling Moon</h1>
        </div>
        <h4 class="mb-4">Say goodbye to scattered notes and fragmented ideas</h4>

      <div class="button-container">
        <% if user_signed_in? %>
          <a href="/collections">
            <button type="button" class="btn btn-outline-primary">Your Collections</button>
          </a>
        <% else %>
          <a href="/users/sign_up">
            <button type="button" class="btn btn-outline-primary">Sign Up</button>
          </a>
        <% end %>
      </div>

      <div class="scroll-down">
        <a href="#section2">
          <i class="fa-solid fa-chevron-down"></i>
        </a>
      </div>


        <%# <%= link_to(:action => 'main' id="section2") do %>
          <%# <i class="fa-solid fa-chevron-down"></i> %>
        <%# <% end %>
    </div>
  </section>



  <section class="section2">

    <div class="section2-head">
      <h2 class="section2-header"> <em>Howling Moon</em>  uses cutting-edge technology to extract and organize your ideas into a streamlined, user-friendly format.</h2>
    </div>

    <div class="container">
      <div class="infogrid row">
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-sharp fa-regular fa-face-smile"></i>
            <h3 class="txt-h3">Simple</h3>
            <p class="txt-p">Displays your developed thoughts in a clear, accessible and user-friendly format.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-sharp fa-solid fa-link"></i>
            <h3 class="txt-h3">Chain Ideas</h3>
            <p class="txt-p">Allows you to connect related and unrelated thoughts and ideas together.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-sharp fa-solid fa-calendar-check"></i>
            <h3 class="txt-h3">Chronology</h3>
            <p class="txt-p">Track your train of thought over time by organizing notes in chronological order.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-sharp fa-solid fa-lock"></i>
            <h3 class="txt-h3">Secure</h3>
            <p class="txt-p">Provides a secure platform for recording and accessing your thoughts.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-sharp fa-solid fa-computer"></i>
            <h3 class="txt-h3"  id="section2">Desktop</h3>
            <p class="txt-p">Optimized for desktop use, with a user interface designed for larger screens.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="txt">
            <i class="fa-solid fa-piggy-bank"></i>
            <h3 class="txt-h3">Free</h3>
            <p class="txt-p">Full version free, providing you with access to all features and functionality.</p>
          </div>
        </div>
      </div>
    </div>
  </section>




  <div class="section5">
    <section class="hero-section">
      <div class="review-grid">
        <a class="review">

          <div class="review__background" style="background-color: #727272b3">
          </div>

          <div class="review__content">
            <p class="review__category">Howling Moon has become my go-to note-taking app as a writer. Its linking feature easily connects my rough notes, providing a comprehensive understanding of my ideas. Its flexibility and ease-of-use have made it an essential tool that I can't imagine working without.</p>
            <p class="review__category">-Marco Ricci</p>
          </div>
        </a>

        <a class="review">
          <div class="review__background" style="background-color: #727272b3">
          </div>

          <div class="review__content">
            <p class="review__category">Howling Moon has completely changed my approach to note-taking. The linking feature connects my ideas and the intuitive interface makes it easy to navigate between different notes and sections. It's the perfect tool for anyone who wants to stay organized and productive.</p>
            <p class="review__category">-Hubert Yu</p>
          </div>
        </a>

        <a class="review">
          <div class="review__background" style="background-color: #727272b3">
          </div>

          <div class="review__content">
            <p class="review__category">As someone who struggles to keep track of their thoughts, Howling Moon has been a game-changer for me. The linking feature connects my rough notes, and the app's flexibility and ease-of-use make it perfect for anyone who wants to improve their note-taking game.</p>
            <p class="review__category">-Ife Odugbesan</p>
          </div>
        </a>

        <a class="review">
          <div class="review__background" style="background-color: #727272b3;">
          </div>

          <div class="review__content">
            <p class="review__category">Despite being skeptical at first, Howling Moon has quickly won me over. Its clean interface and user-friendly design make it easy to connect my thoughts together and stay organized. It's the perfect tool for anyone looking to take their productivity to the next level.</p>
            <p class="review__category">-Jeff Bezos</p>
          </div>
        </a>

      <div>
    </section>
  </div>

<div>
  <%= render 'shared/footer' %>
</div>
