<div class="container-home">

  <div class="section1">
    <h1 class="homeheader">Connects all of your thoughts</h1>
    <h1 class="homeheader">No matter the shape or form</h1>

    <button type="button" class="btn btn-outline-primary">Go to notes</button>

    <div class="ellipses-container">
      <h2 class="greeting">Howling Moon</h2>
      <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit"></div>
      </div>
      <div class="ellipses ellipses__outer--thick"></div>
    </div>
    <p class="homecloser"> Say goodbye to scattered notes and fragmented ideas</p>
  </div>

  <div class="section2">
    <div class="pc">
      <div class="leftpc w-50">
        <%= image_tag "howling moon linked cards.png" %>
      </div>
      <div class="rightpc w-50">
        <%= image_tag "howling moon create card.png" %>
      </div>
    </div>

    <div class="section2-head">
      <h2 class="section2-header">Whether it's notes, figures, or images</h2>
      <h2 class="section2-header">'Howling Moon' uses cutting-edge technology to extract and organize your ideas into a streamlined, user-friendly format.</h2>
    </div>

  <div class="container">
    <div class="infogrid row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="simpletxt">
          <i class="fa-sharp fa-regular fa-face-smile"></i>
          <h3 class="simpletxt-h3">Simple</h3>
          <p class="simpletxt-p">Displays your thoughts in an accessible, user-friendly format, making it easy to navigate and review your ideas</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="chaintxt">
          <i class="fa-sharp fa-solid fa-link"></i>
          <h3 class="chaintxt-h3">Chain Ideas</h3>
          <p class="chaintxt-p">Allows you to connect related thoughts and ideas together. Identify common themes and connections between your notes.</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="chronologytxt">
          <i class="fa-sharp fa-solid fa-calendar-check"></i>
          <h3 class="chronologytxt-h3">Chronology</h3>
          <p class="chronologytxt-p">Track your train of thought over time by organizing notes in chronological order, making it easy to follow the development of their ideas and see how they have evolved over time.</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="securetxt">
          <i class="fa-sharp fa-solid fa-lock"></i>
          <h3 class="securetxt-h3">Secure</h3>
          <p class="securetxt-p">Provides a secure platform for storing your thoughts, with password protection to keep your ideas safe and private.</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="desktoptxt">
          <i class="fa-sharp fa-solid fa-computer"></i>
          <h3 class="desktoptxt-h3">Desktop</h3>
          <p class="desktoptxt-p">Optimized for desktop use, with a user interface designed for larger screens and enhanced functionality to take advantage of the capabilities of desktop computers.</p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="freetxt">
          <i class="fa-solid fa-piggy-bank"></i>
          <h3 class="freetxt-h3">Free</h3>
          <p class="freetxt-p">Full version completely free, providing you with access to all features and functionality without any cost or subscription fees.</p>
        </div>
      </div>
    </div>
  </div>
</div>
