.button {
  font-size: larger;
  text-decoration: none;
  padding: 10px;
  padding-inline: 20px;
  background-color: white;
  border: 1px solid grey;
  color: grey;
  font-weight: 400;
  border-radius: 50px;
  opacity: 0.8;
  margin-left: 10px;
}

.button:hover {
  color: rgb(97, 97, 97);
  border: 1px solid rgb(97, 97, 97);
  opacity: 1;
}

.button-completed {
  background-color: $navy;
  color: white;
  border: 1px solid $navy;
}

.save-button {
  font-size: larger;
  text-decoration: none;
  padding: 10px;
  padding-inline: 20px;
  background-color: $navy;
  border: 1px solid $navy;
  color: white;
  font-weight: 400;
  border-radius: 50px;
  opacity: 0.8;
  margin-left: 10px;
}

.save-button:hover {
  color: white;
  border: 1px solid white;
  opacity: 1;
}

.collection-link {
  margin-top: 25px;
}

.collection-button {
  margin-left: 85px;
  margin-top: 0;
}

.input-save-btn {
  padding-top: 8.6px !important;
  padding-bottom: 8.6px !important;
}
