.cancel-btn {
  font-weight: 600;
  text-decoration: none;
  width: 134px;
  height: 59px;
  border: 1px solid $light-grey;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: $white;
  color: $black;
}
