.cancel-btn {
  font-weight: 600;
  font-size: larger;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 1px solid $border;
  border-radius: 6px;
  background-color: $white;
  color: $black;
}
