.complete-grey-btn {
  font-weight: 600;
  text-decoration: none;
  width: 204px;
  height: 59px;
  opacity: 0.5;
  border: 1px solid $border;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: $black;
  color: $black;
}
