.empty-links-box {
  width: 300px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($light-grey, 0.4);
  border: 1px dashed $light-grey;
  border-radius: 20px;
  color: rgba($dark-grey, 0.3);
  font-size: 20px;
}
