.container-home {
  overflow-y: hidden;
  margin-top: -40px;
}

.section1 {
  background-image: url(sky_unsplash.jpg);
  height: 90vh;
  background-size: cover;
  background-position: 0px -160px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;

  $font: Arial, Helvetica, sans-serif;


  .hometitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25vh;

    .logo-title-container {
      display: flex;
      align-items: center;
    }

    .logo-container1 {
      margin-right: 10px;
      font-size: 36px;

      .fa-circle {
        color: $white;
        text-shadow: 0 0 3px #000;
      }

      .fa-note-sticky {
        color: $black;
      }
    }

    .maintitle {
      text-align: center;
      padding: 10px;
      padding-top: 30px;

      font-size: 88px;
      font-family: $font;
      font-weight: 700;
    }


    .btn-outline-primary {
      border-radius: 50px;
      color: $dark-grey;
      border-color: $border;
    }

    .btn-outline-primary:hover {
      background-color: black;
      color: white;
    }
  }
}


.section2 {
  background-color: #000000;
  height: 100vh;
  text-align: center;
  $font: Arial, Helvetica, sans-serif;

  .pc {
    display: flex;
    justify-content: space-evenly;
    // @media
  }

  .leftpic, .rightpc {
    width: 100%;
  }

  .leftpc img {
    width: 80%;
    height: auto;
  }

  .rightpc img {
    width: 80%;
    height: auto;
  }

  .section2-head {
    padding: 40px;
    padding-top: 72px;
  }

  .section2-header {
    font-family: $font;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: $light-grey;
  }

  .infogrid {
    justify-content: space-evenly;
    padding: 30px;

    .simpletxt {
      .fa-face-smile {
        color: #FFFFFFBF;
      }

      .simpletxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .simpletxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }

    .chaintxt {
      .fa-link {
        color: #FFFFFFBF;
      }

      .chaintxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .chaintxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }

    .chronologytxt {
      .fa-calendar-check {
        color: #FFFFFFBF;
      }

      .chronologytxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .chronologytxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }

    .securetxt {
      .fa-lock {
        color: #FFFFFFBF;
      }

      .securetxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .securetxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }

    .desktoptxt {
      .fa-computer {
        color: #FFFFFFBF;
      }

      .desktoptxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .desktoptxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }

    .freetxt {
      .fa-piggy-bank {
        color: #FFFFFFBF;
      }

      .freetxt-h3 {
        font-family: $font;
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: center;
        color: #FFFFFFBF;
      }

      .freetxt-p {
        font-family: $font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: center;
        color: #FFFFFFBF;
      }
    }
  }
}

.section3 {
//   // background: url(white.jpg);
//   // background-color: whitesmoke;
//   // background-size: cover;
//   // height: 800px;
//   height: 70vh;
//   // background-position-y: -55px;
//   // background-repeat: no-repeat;

//   $font: Arial, Helvetica, sans-serif;


//   .testimonal {
//     // position: relative;
//     // top: 250px;
//     // right: 20px;
//     width: 45%;
//     margin: 0 auto;
//   }

//   #carouselExampleIndicators {
//     width: 100%;
//     padding: 72px;
//   }

//   .carousel-item {
//     width: 100%;
//     height: 250px;

//     img {
//       height: 100%;
//       object-fit: cover;
//     }
//   }
}

.section4 {
  background: url(white.jpg);
  background-size: cover;
  height: 70vh;
  margin: 0px;
  padding: 24px;
  text-align: center;
  overflow: hidden ;

  .review {
    width: 50vmin;
    position: absolute;
    transform: translate(-50%, 50%);
  }

  .review[data-status="inactive"] {
    display: none;
  }

  .review[data-status="active"] {
    display: block;
  }
}
