.card {
  width: 805px;
  height: 417px;
  position: sticky;
  left: 120px;
  top: 112px;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.04));
}

.line {
  position: absolute;
  left: 7.45%;
  right: 7.45%;
  top: 19%;
  bottom: 17.03%;
  height: 1px;
  background-color: $light-grey;
}

.card-body {
  text-align: center;
  align-items: center;
}

.card-text {
  font-size: 24px;
  line-height: 33px;
  color: $dark-grey;
  position: absolute;
  left: 7.45%;
  right: 7.33%;
  top: 32.13%;
  bottom: 17.03%;
}

.buttons {
  margin-top: 60px;
}
