.new-thought-card {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: $black;
  color: $white;
  border: none;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.04));
  margin-bottom: 12px;
}

.new-thought-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
