.new-thought-card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: $light-grey;
  color: $dark-grey;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.04));
}

.new-thought-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
