.search-container {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid rgba($dark-grey, 0.7);
  border-radius: 4px;
  color: rgba($dark-grey, 0.7);
  margin-bottom: 26px;
  margin-top: 8px;
  font-size: 20px;
}
