#query {
  border-radius: 20px;
}

.search-bar {
  align-self: flex-end;
  width: 400px;
  padding-left: 40px;
}

.page-title-container {
  justify-content: space-between;
}

.search-button {
  border-radius: 50%;
  width: 45px;
  border: none;
  color: white;
  margin-left: 5px;
}
