.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.nodeCircle {

}

.nodeText {
  background-color: red !important;
}

.node text {
  font-size: 30px;
  font-family: sans-serif;
  background-color: red !important;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
  display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
  display: none;
}

.wrapper {
  width: 200px;
  height: 200px;
  background-color: red;
}
