@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// No need to import components and pages here!
// Import components and pages on index and import index here


body {
  background-color: $primary1;
  box-sizing: border-box;
  font-family: $body-font !important;
}

h1, h2, h3 {
  margin: 0;
}

input {
  font-family: $body-font !important;
}
