  <div class="page-container" data-search-thoughts-target="listThought">
    <div class="container">
      <div class="row g-4">

        <style>
          @media (max-width: 575.98px) {
            /* Styles for extra small devices (phones) */
            .col-3 {
              width: 100%;
            }
          }
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
          /* Styles for small devices (tablets) */
          .col-3 {
            width: 50%;
          }
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
          /* Styles for medium devices (desktops) */
          .col-3 {
            width: 33.33%;
          }
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
          /* Styles for large devices (desktops) */
          .col-3 {
            width: 25%;
          }
        }

      </style>

      <div class="col-3 d-flex justify-content-center">
        <div class="new-thought-card">
          <span><h1><strong>+</strong></h1></span>
          <%= link_to '', new_thought_path, class: 'new-thought-card-link' %>
        </div>
      </div>
        <% @thoughts.reverse.each do |thought| %>
          <% if thought.collection == nil %>
            <div class="col-3 d-flex justify-content-center">
              <div class="small-card align-self-end">
                <p class="small-card-title">
                <%=
                  thought.title.length > 20 ?
                  thought.title[0,20] + "..." :
                  thought.title
                %></p>
                <p class="small-card-content">
                  <%= thought.content.length >= 100 ?
                      thought.content[0,100] + "..." :
                        thought.content %>
                </p>
                <%= link_to '', thought_path(thought), class: 'small-card-link' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
