<div data-controller="search-browse">
  <div class="page-container container">
    <section class="title-search-container">
      <h1>Browse thoughts</h1>
      <div class="search-bar">
        <%= form_with url: browse_thoughts_path(@thought), method: :get, html: {class:
          "w-100", data: {search_browse_target: "browseForm"}} do |f| %>
          <%= f.text_field :query,
                          class: "form-control form-control-lg",
                          placeholder: "Search thoughts",
                          value: params[:query],
                          data: {search_browse_target: "browseInput",
                          action: "keyup->search-browse#update"} %>
        <% end %>
      <div>
    </section>

    <h2 class="mb-5"><%= @thought.title %></h2>

    <%= render "list-browse" %>

  </div>
</div>

<style>
  @media (min-width: 576px) {
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  @media (min-width: 992px) {
    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
</style>
