<h1>Hi <%= current_user.username %></h1>

<h3>Here are your last 10 cards:</h3>

<ul>
  <% @thoughts.reverse.last(10).each do |thought| %>
    <li><%= link_to(thought.title, thought_path(thought)) %></li>
    <li><%= thought.content %></li>
  <% end %>
</ul>


<div class="cancel-btn">Cancel</div>
<div class="complete-grey-btn">Complete</div>
<div class="complete-black-btn">Complete</div>
<div class="small-card">Note...</div>
<div class="new-thought-card">Note...</div>
