<!--
<h1>Hi <%#= current_user.username %></h1>

<h3>Here are your last 10 cards:</h3>

<ul>
  <%# @thoughts.reverse.last(10).each do |thought| %>
    <li><%#= link_to(thought.title, thought_path(thought)) %></li>
    <li><%#= thought.content %></li>
  <%# end %>
</ul>


<div class="cancel-btn">Cancel</div>
<div class="complete-grey-btn">Complete</div>
<div class="complete-black-btn">Complete</div>
<div class="small-card">Note...</div>
<div class="new-thought-card">Note...</div>

-->

<%#= form_with url: thoughts_path, method: :get, class: "d-flex" do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a thought"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
<%# end %>
<div class="wrapper-to-fix-footer">
  <div data-controller="search-thoughts">

    <section class="title-search-container container">
      <div class="page-title-container">
        <h1>Welcome, <%= current_user.username %></h1>
      </div>

      <div class="search-bar">
        <%= form_with url: thoughts_path, method: :get, html: {class:
          "w-100", data: {search_thoughts_target: "form"}} do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "Search thoughts",
                          value: params[:query],
                          data: {search_thoughts_target: "inputThought",
                          action: "keyup->search-thoughts#update"} %>
        <% end %>
      <div>
    </section>

    <%= render "list-thought" %>
  </div>
</div>

<footer class="footer">
  <p class="footer-para">Made with <span class="footer-heart">♥</span> by <a href="https://github.com/LucasNseyep/howling-moon" title="Howling Moon" class="footer-link">Howling Moon</a></p>
</footer>
